<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?if $(var.Platform) = x64 ?>
		<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
	<?else?>
		<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
	<?endif?>
	
	<Package Name="DiscordForOffice (32 and 64-bit)" Language="1033" Version="1.2.0" Manufacturer="Leondro Lio" UpgradeCode="2F1EABD1-22C7-4C53-B5B1-15D40180DFFF" InstallerVersion="200" ProductCode="56C9BF0B-2257-4339-9995-949622054C9D">
		

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Package>

	<Fragment>
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="Company" Name="Leondro Lio">
					<Directory Id="INSTALLFOLDER" Name="DiscordForOffice" />
				</Directory>
			</Directory>
		</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="85301F47-945B-4302-BF7A-7DC92FC80F49">
				<File Id="___var.DiscordForExcel.TargetPath_" Source="$(var.DiscordForExcel.TargetPath)" />
				<File Id="___var.DiscordForExcel.TargetPath_.manifest" Source="$(var.DiscordForExcel.TargetPath).manifest" />
				<File Id="___var.DiscordForExcel.TargetDir___var.DiscordForExcel.TargetName_.vsto" Source="$(var.DiscordForExcel.TargetDir)$(var.DiscordForExcel.TargetName).vsto" />

				<File Id="___var.DiscordForOutlook.TargetPath_" Source="$(var.DiscordForOutlook.TargetPath)" />
				<File Id="___var.DiscordForOutlook.TargetPath_.manifest" Source="$(var.DiscordForOutlook.TargetPath).manifest" />
				<File Id="___var.DiscordForOutlook.TargetDir___var.DiscordForOutlook.TargetName_.vsto" Source="$(var.DiscordForOutlook.TargetDir)$(var.DiscordForOutlook.TargetName).vsto" />
				<File Id="___var.DiscordForOutlook.TargetDir_Microsoft.Office.Tools.Outlook.v4.0.Utilities.dll" Source="$(var.DiscordForOutlook.TargetDir)Microsoft.Office.Tools.Outlook.v4.0.Utilities.dll" />

				<File Id="___var.DiscordForPowerPoint.TargetPath_" Source="$(var.DiscordForPowerPoint.TargetPath)" />
				<File Id="___var.DiscordForPowerPoint.TargetPath_.manifest" Source="$(var.DiscordForPowerPoint.TargetPath).manifest" />
				<File Id="___var.DiscordForPowerPoint.TargetDir___var.DiscordForPowerPoint.TargetName_.vsto" Source="$(var.DiscordForPowerPoint.TargetDir)$(var.DiscordForPowerPoint.TargetName).vsto" />

				<File Id="___var.DiscordForWord.TargetPath_" Source="$(var.DiscordForWord.TargetPath)" />
				<File Id="___var.DiscordForWord.TargetPath_.manifest" Source="$(var.DiscordForWord.TargetPath).manifest" />
				<File Id="___var.DiscordForWord.TargetDir___var.DiscordForWord.TargetName_.vsto" Source="$(var.DiscordForWord.TargetDir)$(var.DiscordForWord.TargetName).vsto" />

				<File Id="___var.DiscordForWord.TargetDir_Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Source="$(var.DiscordForWord.TargetDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
				<File Id="___var.Shared.TargetPath_" Source="$(var.Shared.TargetPath)" />
				<File Id="___var.Shared.TargetDir_DiscordRPC.dll" Source="$(var.Shared.TargetDir)DiscordRPC.dll" />
				<File Id="___var.Shared.TargetDir_Newtonsoft.JSON.dll" Source="$(var.Shared.TargetDir)Newtonsoft.JSON.dll" />
			</Component>

			<?include RegistryKeys.wxi ?>
		</ComponentGroup>
	</Fragment>
</Wix>
